/*sliding blocks animations*/

@keyframes slideInFromLeft {
	0% {
		transform: translate3d(-40%, 0, 0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translate3d(40%, 0, 0);
		opacity: 0;
	}
	100% {
		transform: translateX(0, 0, 0);
		opacity: 1;
	}
}

/*on-scroll animations*/
.slide-left {

    @media screen and (min-width: 681px) {
        opacity: 0;
        transition: all 1s ease;
        transform: translate3d(-100px, 0, 0); 
    }
    
    z-index: 5;
}

.slide-left.in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.slide-right {

    @media screen and (min-width: 681px) {
        opacity: 0;
        transition: all 1s ease;
        transform: translate3d(100px, 0, 0);   
    }
}

.slide-right.in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.zoom-in.in-view {

	@media screen and (min-width: 681px) { 
		animation: zoomIn 50s infinite;
  		animation-direction: alternate;
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

