html, body, div, span, h1, h2, h3, h4, h5, p, a, img, ol, ul,
li, article, aside, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;

    @media screen and (min-width: $break-large) {
        font-size: 70.5%;
    }
}

body {
    font-family: $font-base;
}

.wrapper {
    position: relative;
    max-width: 1920px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.5);
}

.content {
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    height: 100%;

    @media screen and (max-width: $break-tablet) {
        left: 110px;
    }

    @media screen and (max-width: $break-mobile) {
        position: relative;
        top: 25vw;
        left: 0;
        height: auto;
        background-color: white;
    }

    @media screen and (max-width: $break-extra-small) { 
		top: 80px;
	}

    .content-inner {
        position: relative;
        width: 100%;
        height: 100%;

        .content-inner-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: $yellow;
            z-index: 1;

            @media screen and (max-width: $break-mobile) {
                position: relative;
            }

            .main {
                position: relative;
                width: 100%;
                min-height: 100%;
                overflow: hidden;
            }
        }
    }
}

.double-section {
    position: relative;
    width: 100%;
    overflow: hidden;

    @media screen and (min-width: 681px) {
        display: flex;
        height: 46vw;

        &>div {
            position: relative;
            width: 50%;
            height: 100%;
        }
    }

    @media screen and (max-width: $break-mobile) {
        overflow: initial;

        &>div {
            height: 99vw;
        }
    }
}

.text-block {
    position: relative;
  
    h2 {
      font-family: GothamPro-bold;
    }
}

.button {
    position: relative;
    text-transform: uppercase;
    color: white;
    background-color: rgba(143, 12, 0, 0.1);
    text-align: center;
    font-size: 60%;
    letter-spacing: 1px;
    line-height: 2.5em;
    cursor: pointer;
    border: 2px solid white;
    width: 9.3em;
    
    &:before {
        content: '';
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $color-base;
        transition: opacity .5s ease;
    }
}
  
.button:hover:before {
    opacity: 0.1;
}




