@font-face {
    font-family: GothamPro;
    src: 
        url(../fonts/GothamPro.woff) format("woff"), 
        url(../fonts/GothamPro.otf) format("otf"),
        url(../fonts/GothamPro.ttf) format("opentype");
}
  
@font-face {
    font-family: GothamPro-bold;
    src: 
        url(../fonts/GothamPro-Bold.woff) format("woff"), 
        url(../fonts/GothamPro-Bold.otf) format("otf"),
        url(../fonts/GothamPro-Bold.ttf) format("opentype");
}
  
@font-face {
    font-family: GothamPro-medium;
    src: 
        url(../fonts/GothamPro-Medium.woff) format("woff"), 
        url(../fonts/GothamPro-Medium.otf) format("otf"),
        url(../fonts/GothamPro-Medium.ttf) format("opentype");
}
  
@font-face {
    font-family: GothamPro-light;
    src: 
        url(../fonts/GothamPro-Light.woff) format("woff"), 
        url(../fonts/GothamPro-Light.otf) format("otf"),
        url(../fonts/GothamPro-Light.ttf) format("opentype");
}
  
@font-face {
    font-family: GothamPro-black;
    src: 
        url(../fonts/GothamPro-Black.woff) format("woff"), 
        url(../fonts/GothamPro-Black.otf) format("otf"),
        url(../fonts/GothamPro-Black.ttf) format("opentype");
}