@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin after {
    display: block;
    content: "";
    position: absolute;
}

@mixin arrow-up($color) {
    @include after;
    width: 0;
    height: 0;
    top: -6vw;
    left: 50%;
    margin-left: -4.5vw;
    border-left: 6.3vw solid transparent;
    border-right: 6.3vw solid transparent;
    border-bottom: 6.5vw solid $color;
}
