/*colors*/
$color-base: #000;
$yellow: #ffda2d;
$red: #f73934;

/*fonts*/
$font-base: GothamPro;
$font-bold: GothamPro-bold;
$font-medium: GothamPro-medium;
$font-light: GothamPro-light;
$font-black: GothamPro-black;

/*media queries*/
$break-extra-small: 480px;
$break-mobile: 680px;
$break-tablet: 1024px;
$break-medium: 1400px;
$break-large: 1560px;