.section-img {
    position: relative;
    background: transparent url("../img/header-img.jpg") no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 42vw;
    overflow: hidden;

    @media screen and (max-width: $break-mobile) {
        background-image: url("../img/header-img_mobile.jpg");
        height: 173vw;
    }

    @media screen and (min-width: 681px) {
        animation: slideInFromRight 1.5s ease 0.5s;
    }
}

/*top left icons*/

.icons {
    display: flex;
    justify-content: space-around;
    width: 36vw;
    height: 17vw;
    margin: 4.8vw 0 0 4.4vw;

    @media screen and (max-width: $break-mobile) {
        position: relative;
        top: 44.5vw;
        width: 96vw;
        height: 37vw;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    .icon {
        width: 33.3%;
        height: 100%;

        .icon-bg {
            background-color: white;
            border-radius: 50%;
            width: 8vw;
            height: 8vw;
            margin: 0 auto;

            @media screen and (max-width: $break-mobile) {
                width: 20vw;
                height: 20vw;
            }
        }

        .icon-inner {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        p {
            text-align: center;
            padding-top: 1.3rem;
            color: #45370a;
            font-size: 1.2vw;
            line-height: 1.7vw;

            @media screen and (max-width: $break-mobile) {
                font-size: 4vw;
                line-height: 4.6vw;
            }

            span {
                color: $red;
            }
        }
    }
}

/*individual icons*/

.icon-camera .icon-inner {
    background-image: url('../img/camera.jpg');
    background-position-y: 46%;
    background-size: 50% 50%;
}

.icon-heart .icon-inner {
    background-image: url('../img/heart.jpg');
    background-size: 60% 60%;
}

.icon-gift .icon-inner {
    background-image: url('../img/gift.jpg');
    background-position-y: 41%;
    background-size: 52% 56%;
}

/*text*/

.section-img .heading {
    color: $red;
    font-size: 6.5vw;
    margin-left: 5vw;

    @media screen and (max-width: $break-mobile) {
        position: absolute;
        top: 7vw;
        left: 50%;
        margin-left: -21vw;
        font-size: 14vw;
    }

    h1 {
        text-transform: uppercase;
        font-family: $font-medium;
        font-size: 100%;
        line-height: 100%;
        letter-spacing: 2px;
    }

    .middle {
        text-transform: uppercase;
        font-family: $font-light;
        font-size: 55%;
        line-height: 91%;
        letter-spacing: 3px;
    }

    h1.last {
        font-family: $font-light;
        font-size: 55%;
        line-height: 115%;
        
        span {
            text-transform: none;
            font-family: $font-black;
            font-size: 8rem;
            font-size: 153%;
            margin-left: 0.3rem;
        }
    }
}